.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  font-family: 'Merriweather', serif;
  user-select: none;
  background-color: silver;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.card:hover {
  cursor: grab;
}

.cardDescription {
  padding: 0.75em;
  font-size: 36px;
}

.cardActions {
  display: flex;
  height: 48px;
  border-top: 1px solid black;
}

.cardActionCompleteTaskButton {
  flex-basis: 50%;
  cursor: pointer;
  border: 0;
  border-right: 1px solid black;
  border-bottom-left-radius: 5px;
}
